{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <br>

    <form method="post" action="/api/superheros" class="form-inline">
      <div class="form-group">
        <label>Superhero name</label>
        <input type="text" name="name" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>

    <hr><br>

    <h2>All Superheros</h2>

    <ul>
    {% for superhero in superheros %}
      <li><a href="superhero/{{superhero.id}}">{{superhero.name}}</a></li>
    {% endfor %}
    </ul>

  </div>

{% endblock %}
