{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <br>

    <form method="post" action="/api/superhero/{{superhero.id}}?_method=PUT">
      <div class="form-group">
        <label>Superhero name</label>
        <input type="text" name="name" class="form-control" value="{{superhero.name}}" required>
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    </form>

    <br>

    <form method="post" action="/api/superhero/{{superhero.id}}?_method=DELETE" class="form-inline">
      <button type="submit" class="btn btn-default">Delete</button>
    </form>

  </div>

{% endblock %}
